{
    # Global options block. Entirely optional, https is on by default
    email frishi@me.com 
    acme_ca https://acme.zerossl.com/v2/DV90
    acme_eab {
        key_id  UF85mazsOD8S6E3eTxVa9w
        hmac t2CKRgVAPzUfJmWFfHwXP28j3v8fJgcd4AEPw8qHMnstEbktIdYbVWIDqn_UfYKmW65J1xmP609Uo6nW5X6oQg  
    }
    # cert_issuer zerossl aa69d181dc7a7417f2adbd65d5a3e032
}

rishighan.com {
    reverse_proxy rishighan:8999
}

posts.services.rishighan.com {
    reverse_proxy posts-api:5000
}