{
    # Global options block. Entirely optional, https is on by default
    email frishi@me.com 
    acme_ca https://acme.zerossl.com/v2/DV90
    acme_eab {
        key_id  rx8cSbqIvqbiNNUtAeFLzg
        hmac 3l-yvyZ8UrSLcApz-Se71Psz6ShtHppN4gjWfRgRH6eNNIlT-e62-qPFD9sybmNwCj3nR6-h7X3Faz96QqYHDQ 
    }
    # cert_issuer zerossl aa69d181dc7a7417f2adbd65d5a3e032
}

rishighan.com {
    reverse_proxy rishighan:8999
}

posts.services.rishighan.com {
    reverse_proxy posts-service-api:5000
}