// Artifice as poem
// blasted in stone,
// vacant in the black pitch
// to eternity unknown

@charset "utf-8";
@import "./mixins/helpers";

// Typography
@import url("//hello.myfonts.net/count/38dd7f");
@import url("//cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css");

@include font-face(
  "Source Code Pro Regular",
  "../../public/assets/fonts/Source Code Pro/Source Code Pro Regular",
  normal,
  normal,
  ttf
);
@include font-face(
  "ArminGrotesk-Regular",
  "../../public/assets/fonts/Armin Grotesk/38DD7F_3_0",
  normal,
  normal,
  eot ttf woff woff2
);
@include font-face(
  "ArminGrotesk-Thin",
  "../../public/assets/fonts/Armin Grotesk/38DD7F_0_0",
  normal,
  normal,
  eot ttf woff woff2
);
@include font-face(
  "ArminGrotesk-ThinItalic",
  "../../public/assets/fonts/Armin Grotesk/38DD7F_1_0",
  normal,
  normal,
  eot ttf woff woff2
);
@include font-face(
  "ArminGrotesk-Normal",
  "../../public/assets/fonts/Armin Grotesk/38DD7F_2_0",
  normal,
  normal,
  eot ttf woff woff2
);
@include font-face(
  "ArminGrotesk-SemiBold",
  "../../public/assets/fonts/Armin Grotesk/38DD7F_5_0",
  normal,
  normal,
  eot ttf woff woff2
);
@include font-face(
  "ArminGrotesk-SemiBoldItalic",
  "../../public/assets/fonts/Armin Grotesk/38DD7F_4_0",
  normal,
  normal,
  eot ttf woff woff2
);

$render-mode: optimizeLegibility;
$family-sans-serif: "ArminGrotesk-Regular", sans-serif;
$family-primary: $family-sans-serif;
$family-monospace: "Source Code Pro Regular";
$family-code: "Source Code Pro Regular";

// Colors
$black: hsl(0, 0%, 8%);
$primary: hsla(115, 26%, 41%, 1);
$dark: hsla(38, 10%, 11%, 1);

// Content
$content-blockquote-border-left: 0px none;
$content-blockquote-padding: 0em;
$content-blockquote-background-color: none transparent;

// Navigation
.sitenav {
  background: transparent none;
  text-transform: uppercase;
  font-family: "ArminGrotesk-Normal", sans-serif;
  font-kerning: normal;
  max-width: 95px;

  li {
    background: rgb(208, 215, 221);
    background: rgba(208, 215, 221, 0.6);
    display: inline-block;
    margin-top: 2px;
    padding: 2px 5px 0px 5px;
    border-radius: 4px;
    font-size: 0.9rem;

    a {
      color: rgba(20, 20, 20, 0.6);
    }
  }
}

// Masthead component styles
.masthead-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 400px;
  margin-bottom: 30px;
  justify-content: flex-start;

  .masthead {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -9;
    width: 100%;
    background-size: cover;
    overflow: hidden;
  }
}


// Admin navbar
.rg-admin-navbar {
  position: absolute;
  width: 100vw;
  font-size: 0.85em;

  ul {
    li {
      text-transform: uppercase;
    }
  }
}

// Content
.content {
  font-variant-numeric: tabular-nums;
  font-variant-ligatures: discretionary-ligatures;
  font-kerning: normal;
  font-feature-settings: "ss01", "ss08";

  // High-level <header>
  header {
    h3 {
      margin-bottom: 0;
      font-weight: normal;
    }
  }

  // Overrides for:
  // <List>, <Timestamp>, <Modal>, pagination, tile and search input
  strong {
    font-weight: normal;
    font-family: ArminGrotesk-SemiBold;
  }

  .rg-list {
    margin-left: 0;

    li {
      margin-bottom: 1.2rem;
    }

    .timestamp {
      margin-bottom: 0.7rem;
    }
  }

  .rg-table {
    tr {
      cursor: pointer;
      th {
        font-weight: normal;
        font-family: ArminGrotesk-SemiBold;
      }
    }
  }

  .pagination {
    margin: 0rem;
    padding: 0rem;
    display: flex;
    justify-content: left;
  }

  .tile {
    div {
      margin-bottom: 0.3rem;
    }
  }

  .search {
    padding: 0;
  }

  // callout card
  .callout-text {
    margin: 0.75rem 0 0.2rem 0;
  }
  .callout-card-container {
    // height: 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    background: white;
    font-size: 0.9rem;
    margin: 0 0 1.5rem 0;
    border-radius: 6px;
    box-shadow: 0 0.5em 1em -0.125em rgba(20, 20, 20, 0.1),
      0 0px 0 1px rgba(20, 20, 20, 0.02);
    color: #4a4a4a;

    .callout-cover {
      display: flex;
      align-self: stretch;
      border-top-left-radius: 6px;
      border-bottom-left-radius: 6px;
      object-fit: cover;
      justify-content: center;
      width: 150px;

      .icon {
        color: white;
        font-size: 4rem;
        align-self: center;
      }
    }

    .callout-card-text {
      ul {
        margin: 0 0 0.75rem 1rem;
        li {
          line-height: 1.2em;
          color: grey;
        }
      }
      h6 {
        text-transform: uppercase;
        margin: 0.75rem 0 0.2rem 1rem;
        letter-spacing: 0.01rem;
      }
      align-self: center;
    }
  }

  // Article styles
  article {
    margin-bottom: 0.7em;

    .timestamp {
      margin-bottom: 1em;
    }

    th,
    h2,
    h3,
    h4,
    h6 {
      font-family: "ArminGrotesk-Regular", sans-serif;
      font-weight: normal;
    }

    h3 {
      margin-bottom: 0.2em;
    }

    img {
      border-radius: 8px;
    }
  }

  ul {
    li {
      list-style-type: none;

      a {
        h3 {
          font-weight: normal;
        }
      }
    }
  }

  article {
    padding: 0 0 2em 0;

    blockquote {
      font-size: 0.75rem;

      sup {
        color: $black;
      }
    }
  }

  .input,
  .textarea {
    border-bottom: 1px solid $black;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-radius: 0;
    box-shadow: none;

    &:hover {
      border-color: $dark;
    }

    &:active,
    &:focus {
      box-shadow: none;
      border-color: $primary;
    }
  }

  .form {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-weight: normal;
    }

    .tabs {
      ul {
        margin: 0 auto;
      }
    }

    // table override
    table {
      tr {
        th {
          font-weight: normal;
          font-family: ArminGrotesk-SemiBold;
        }
      }
    }
    .field,
    .box,
    .rg-box {
      margin: 1.5rem 0;
      input,
      textarea {
        padding-left: 0;
      }

      // to hide checkboxes inside buttons
      button {
        cursor: pointer;

        label {
          input[type="checkbox"] {
            display: none;
            cursor: pointer;
          }
        }
      }

      // grouped field margin override
      .field {
        margin: 0.5rem 0;
      }

      // related posts and dropdown styles
      .lookup-posts {
        margin: 24px 0 0 0;
      }

      .dropdown {
        width: 100%;

        .dropdown-menu {
          width: 100%;

          .dropdown-content {
            ul {
              margin: 0px;
              font-size: 0.75em;

              li {
                cursor: pointer;
                width: 100%;
                padding: 5px 0 5px 10px;
                margin: 0;

                &:hover {
                  background: #ccc;
                }
              }
            }
          }
        }
      }

      .tags {
        margin: 0.5rem 0.5rem 0 0;
      }
    }

    // preview post icon
    .preview-post {
      cursor: pointer;
      margin-left: 5px;
    }

    //  Image Cards
    .card-hero-background-color {
      background-color: #cccccc;
    }

    .card {
      margin: 0 10px 0 0;
      border-radius: 4px;

      figure {
        margin: 0;

        img {
          border-top-right-radius: 4px;
          border-top-left-radius: 4px;
        }
      }

      .card-content {
        padding: 0.1rem 1rem;

        ul {
          li {
            display: block;
            margin: 5px 0 auto;
            line-height: 1.3rem;
          }
        }

        .metadata {
          margin: 5px 0;
        }

        .truncated {
          width: 75px;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
  }
}


// Media queries
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .masthead-container {
    height: 0px;
    .masthead-title-container {
      top: 190px;
    }
  }

  .content {
    margin-top: 2rem;
  }

  .sitenav {
    position: relative;
    top: 0px;
    left: 0px;
  }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
  .masthead-container {
    height: 0px;
    .masthead-title-container {
      top: 190px;
    }
  }
  .content {
    margin-top: 4rem;
  }
  .sitenav {
    position: relative;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .masthead-container {
    height: 300px;
    .masthead-title-container {
      top: 320px;
    }
  }

  .content {
    margin-top: 2.5rem;
  }
  .sitenav {
    position: fixed;
    z-index: 99;
    top: 50px;
    left: 30px;
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1366px) {
  .masthead-container {
    height: 370px;
    .masthead-title-container {
      top: 380px;
    }
  }
  .content {
    margin-top: 2.5rem;
  }
  .sitenav {
    position: fixed;
    z-index: 99;
    top: 50px;
    left: 30px;
  }
}

@media only screen and (min-width: 1367px) and (max-width: 1680px) {
  .masthead-container {
    height: 550px;
    .masthead-title-container {
      top: 480px;
    }
  }
  .content {
    margin-top: 3.5rem;
  }
  .sitenav {
    position: fixed;
    z-index: 99;
    top: 50px;
    left: 30px;
  }

}

@media only screen and (min-width: 1681px) and (max-width: 1920px) {
  .masthead-container {
    height: 650px;
    .masthead-title-container {
      top: 520px;
    }
  }
  .content {
    margin-top: 3.5rem;
  }
  .sitenav {
    position: fixed;
    z-index: 99;
    top: 50px;
    left: 30px;
  }
}

@import "../../node_modules/bulma/bulma.sass";
